UI_PORT=3000
API_PORT=3001
SMTP_PORT=1025
MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=drive

NODE_ENV=development
UI_DOCKERFILE=Dockerfile.dev
API_DOCKERFILE=Dockerfile.dev
MAIL_DOCKERFILE=Dockerfile.dev
UI_CONTAINER_PORT=3000
API_CONTAINER_PORT=7000
SMTP_CONTAINER_PORT=2525
